.json-block-cta-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  border-radius: 1rem;
}

.json-block-cta-banner .h1,
.json-block-cta-banner .h2,
.json-block-cta-banner .h3,
.json-block-cta-banner .h4 {
  margin: 0;
}

.json-block-cta-banner sp-link {
  margin-top: 1rem;
}

.bg-orange {
  color: white !important;
  background-color: #f26522;
}

.bg-orange h1,
.bg-orange h2,
.bg-orange h3,
.bg-orange h4,
.bg-orange h5,
.bg-orange h6,
.bg-blue h1,
.bg-blue h2,
.bg-blue h3,
.bg-blue h4,
.bg-blue h5,
.bg-blue h6,
.bg-brown h1,
.bg-brown h2,
.bg-brown h3,
.bg-brown h4,
.bg-brown h5,
.bg-brown h6 {
  color: white !important;
}

.bg-blue{
  color: white !important;
  background-color: #024d69;
}

.bg-grey{
  background-color: #eee;
}

.bg-brown{
  color: white !important;
  background-color: #886454;
}
